/*UNIVERSAL SELECTOR*/

* {}

/**********************************
GENERAL
**********************************/

body {
  text-align: center;
}

.title {
  font-size: 1.625em 
}

.primary-content {
  border: 3px solid red;
}

.secondary-content {
  border-top: 2px solid grey;
}

.primary-content, .secondary-content {
  width: 60%;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px blue;
}

.t-border {
  border-top: 2px solid lightgrey;
}

header {
  background-color: darkblue;
}

p {
  font-size: 20px;
}

/**********************************
HEADLINE ELEMENTS
**********************************/

h1 {
  font-size: 72px;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
}

/**********************************
COLORS
**********************************/

body {
  color: #878787;
}

#main-header {
  background-color: orange;
}

ul li {
  color: white;
  background-color: tomato;
}

h1 {
  color: ;
}

h3 {
  color:
}

/*CSS PSEUDO CLASS*/

a:link {
  color: darkblue;
}

a:visited {
  color: orange;
}

a:hover {
  color: red;
}

a:active {
  color: coral;
}

a:focus {
  color: white;
  background-color: lightblue;
}















































